body {
    font-family: $mainFont;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    background: $color-background;
}
.layout__header {
    width: 100%;
    background: $color-header;
    color: $color-logo;
    padding-top: 20px;
    padding-bottom: 10px;
    height: 80px;
}
.logo {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.21em;
    text-align: center;    
    text-transform: uppercase;

    @media screen and (max-width: $phoneWidth) {
      font-size: 28px;
    }
}
main {
    margin: 0 auto;
    width: 100%;
    height: calc(100vh - 80px);
    overflow-y: scroll;
}

// scroll
/* Firefox */
  main {
    scrollbar-width: auto;
    scrollbar-color: $color-logo $color-background;
  
    @media screen and (max-width: $phoneWidth) {
        padding: 0 10px;
    }
  }
  
  /* Chrome, Edge, and Safari */
  main::-webkit-scrollbar {
    width: 16px;
  }
  
  main::-webkit-scrollbar-track {
    background: $color-background;
  }
  
  main::-webkit-scrollbar-thumb {
    background-color: $color-logo;
    border-radius: 10px;
    border: 3px solid $color-background ;
  }

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    color: $default-color;
}


